---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro'
import Experience from '../components/Experience.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<AboutMe />
		<Experience />
	</main>
</Layout>

