---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro'
import Experience from '../components/Experience.astro'
import Education from '../components/Education.astro'
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio Carlos Vertiz, developer and programmer">
	<main>
		<AboutMe id="home" />
		<Experience id="experience" />
		<Education id="education" />
		<Projects id="projects" />
	</main>
</Layout>

