<section>
  <div class="flex flex-col m-5  items-center justify-center my-20 bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] rounded-full">
    <h1>Carlos Vertiz</h1>
    <h2>Full Stack Developer</h2> 
  </div>
  <div class="flex flex-col gap-6 m-5 items-center">
    <picture class="px-10">
      <img class="rounded-full aspect-square" src = '/myimagen.jpeg' alt="My photo">
    </picture>
    <p class="text-pretty my-20bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]"> 
      Como ingeniero con amplios conocimientos informáticos, estoy constantemente inmerso en el aprendizaje y la formación en nuevas tecnologías. Mi experiencia abarca proyectos tanto propios como de terceros, donde he utilizado una amplia gama de herramientas, incluyendo <strong>JavaScript, Python y SQL </strong>, entre otras.
    </p>
  </div>
</section>