<header class="flex justify-center
              text-xs py-2 px-3 
              border.solid border border-indigo-800/80
              rounded-b-lg
              bg-[#000000]
              bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]
              ">
  <nav class="flex justify-around gap-3 text-[0.6rem]">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/experience">Experience</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
  </nav>
</header>