---
import '@fontsource/libre-baskerville/400.css';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I'm Carlos Vertiz a programmer and developer engineer" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
		
		<Header />
		<slot />
		<Footer />

	</body>
</html>
<style is:global>
	*{
		color: white;

	}
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Libre Baskerville', serif;
		scroll-behavior: smooth;
	}
	body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@media (prefers-reduced-motion:reduce){
		html{
			scroll-behavior: auto;
		}
	}
	h1{
		font-size: clamp(2.2rem, 3.5vw,4rem);
		font-weight: 600;
	}
	h2{
		font-size: clamp(1.25rem,2.2vw,2.5rem);
	}
	h3{
		font-size: clamp(0.9rem,1.7vw,1.5rem);
		font-weight: 800;
	}
	h4{
		font-size: clamp(1rem,1.5vw,1.1.5rem);
		font-weight: 500;
	}
	li,p,a{
		font-size: clamp(0.9rem,1.7vw,1rem); 
		line-height: clamp(1rem,2vw,1.5rem); 
	}
</style>
